<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for ordering from Jungle! Your Order Number is: <%= @order_id %></h1>
    <p>
      Your order is currently being processed and will arrive with 1-12 months.
    </p>
  </body>
</html>

